/*LETRAS*/
h1{
	font-family: Cooper Black;
	color: #3498db;
	text-align: center;
}

h2{
	font-family: Britannic Bold;
	color: orange;
	text-align: center;
}

p{
	text-align: justify;
	font-family: consolas;
}


/*ESTILOS PARA LOS EJEMPLOS*/
.ejemplos{
	font-family: Lucida Console;
	color: orange;
	text-align: center;
}


/* EJEMPLO 1: TRANSICIÓN */
.button {
  background-color: #3498db;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  transition: background-color 0.3s ease; /* Define la propiedad a animar y la duración */
}

.button:hover {
  background-color: #2980b9; /* Nuevo color de fondo al pasar el cursor por encima */
}

/*EJEMPLO 2: ANIMACIÓN*/
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
  }
}

#animated-element {
  width: 50px;
  height: 50px;
  background-color: #e74c3c;
  animation: slide 2s linear infinite; /* Nombre de la animación, duración, temporización y repetición */
}

/*E J E R C I C I O S*/

/*BOTÓN 1*/
#ejercicio1{
	background-color: lightgreen;
	color: white;
	font-family: Arial;
	border: none;
	transition: background-color linear;
}

#ejercicio1:hover{
	background-color: green;
}

/*BOTÓN 2*/
#ejercicio2{
	background-color: yellow;
	color: black;
	font-family: arial;
	border-right-color: orange;
	transition: background-color linear
}

#ejercicio2:hover{
	background-color: brown;
}

/*ANIMACIÓN 1*/
@keyframes slidein {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
  }
}

.animated-element{
	width: 100px;
	height: 100px;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	background-color: yellow;
	animation: slidein 4s linear infinite;
}

/*ANIMACIÓN 2*/
@keyframes slide{
	0%{
		transform: translateX(0);
	}
	100%{
		transform: translateX(100px);
	}
}

.animated-element2{
	width: 100px;
	height: 100px;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	background-color: lightblue;
	animation: slide 1s linear infinite;
}
