/*MAIN-HEADER*/
#main-header{
	font-family: Arial Black;
	font-size: 24px;
	color: lightpink;
	text-align: center;
}

/*CONTENIDO*/
#main-content{
	font-family: arial;
	font-size: 14px;
	text-align: justify;
	padding: 80px;

}

/*TABLA*/
caption{
	font-family: Arial Black;
	font-size: 13px;
	color: black;
	text-align: center;
}

th,td{
	font-family: Arial;
	font-size: 11px;
	text-align: center;
}

/*IMAGENES*/
img{
	width: 500px;
	height: 200px;
}

/*MEDIA QUERIES*/

/*Ancho mayor*/
@media (min-width: 769px){
	#main-header{
	font-family: Impact;
	font-size: 26px;
	color: lightpink;
	text-align: center;
}

#main-content{
	font-family: Arial;
	font-size: 20px;
	text-align: justify;
	padding: 80px;

}

caption{
	font-family: Arial Black;
	font-size: 18px;
	color: black;
	text-align: center;
}

th,td{
	font-family: Arial;
	font-size: 16px;
	text-align: center;
}

img{
	width: 500px;
	height: 300px;
}

}

/*Ancho menor o igual a 768px*/
@media (max-width: 768px){
	#main-header{
	font-family: Arial Black;
	font-size: 25px;
	color: lightpink;
	text-align: center;
}

#main-content{
	font-family: Arial;
	font-size: 15px;
	text-align: justify;
	padding: 80px;

}

caption{
	font-family: Arial Black;
	font-size: 14px;
	color: black;
	text-align: center;
}

th,td{
	font-family: Arial;
	font-size: 13px;
	text-align: center;
}

img{
	display: flex;
	width: auto;
	height: 100px;
}

}
