/*DEFINIENDO LOS GRID*/
.grid-container{
	display: grid;
	grid-template-columns: 5% 55% 40%; /*Define 3 columnas*/
	grid-template-rows: 13;
}

/*GRID DE LA CABECERA*/
#main-header{
	grid-column: 1/3;/*Ocupa filas 1 a 3*/
	grid-row: 1;
}

/*GRID PARA LA IMG DE PORTADA*/
.portada{
	grid-column-start: 1;
	grid-column-end: 3;
   width: 800px;
  height: 300px;
}

/*GRID PARA EL FOOTER*/
#main-footer{
	grid-column: 1/3;
	grid-row: repeat(13, 1fr);
}

/*GRID DEL MAIN-CONTENT*/
#main-content{
	grid-column: 2;
	grid-row-start: 2;
	grid-row-end: 12;
}

/*GRID PARA LA TERCERA COLUMNA*/
.derecha {
  grid-column: 3; /* Colocar en la columna 3 */
  grid-row-start: 3; /* Comenzar desde la fila 3 */
  grid-row-end: 12; /* Terminar en la fila 9 (8 + 1) */
  padding: 3em;
}

/*HEADER*/
#main-header {
  font-family: Arial Black;
  background: black;
  color: white;
  height: 80px;  
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
} 

#main-header a {
  color: white;
}

/*NAVEGACIÓN*/
nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-right: 20px;
}
  
nav ul li {
  display: inline-block;
  line-height: 80px;
}
      
nav ul li a {
  display: block;
  padding: 0 10px;
  text-decoration: none;
}

nav ul li a:hover {
  background: #0fc0db;
  }

/*FOOTER*/
  #main-footer {
  background: black;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

#main-footer p {
  font-family: arial;
  font-size: 15px;
  margin: 0;
}
  
#main-footer a {
  color: white;
}

/*JUSTIFICAR TEXTO*/
.justificado{
	text-align: justify;
	font-family: arial;
	font-size: 12px;
}

/*LETRAS DE TITULO*/
h1, h2{
	font-family: arial black;
}

/*PADDING IMGS*/
img{
	padding: 5px;
}

/*ESPACIO DE DIVS*/
div{
	margin: 15px;
}

/*BACKGROUND COLOR DE FONDO*/

#rojo{
	color: white; /*Color de letra*/
	background: #de2d40; /*color de fondo*/
}

#amarillo{
	color: white;
	background: #e1be00;
}

#morado{
	color: white;
	background: #9977f4;
}

#pelicula{
	color: white;
	background: #49beb6;
}

/*COLOR DE TITULOS*/
#titulo{
	color: #de2d40; /*color de letra*/
}

/*SI LA PANTALLA ES IGUAL O MENOR A 900PX --> VALOR MÁXIMO*/
  @media(max-width: 900px){
      
    }

  /*SI LA PANTALLA ES IGUAL O MENOR A 850PX --> VALOR MÁXIMO*/
  @media(max-width: 850px){

      
    }

    /*SI LA PANTALLA ES IGUAL O MENOR A 500PX --> VALOR MÁXIMO*/
    @media(max-width: 500px){
        
    }

    /*SI LA PANTALLA ES IGUAL O MENOR A 300PX --> VALOR MÁXIMO*/
    @media(max-width: 500px){
        
}